footer {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column; /* 자식 요소들을 세로 방향으로 정렬 */ 
}

.footer-img {
    width: 100%;
    height: 1000px;
    background-image: url('/img/background/Background06.png');
    background-position: center; /* 이미지를 중앙에 배치 */
    background-repeat: no-repeat;
    background-size: cover;
    
}

.footer-img::before { /* 그라데이션 */
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(to bottom, #ffffff, transparent);
    z-index: 990;
}

/* -------------------------------- 하단 Contact -------------------------------- */

footer .contact {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;

    padding: 50px 120px;
    
    z-index: 8888;
}

footer .contact ul {
    width: calc(25%); 
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    padding: 0px 50px;

    list-style-type: none;
}

footer .contact ul li {
    padding: 5px 0px;
}

footer .contact ul li a {
    color: #2b3953;
    text-decoration: none;
}

/* SNS 영역 */

footer .follow, footer .recommand {
    padding-bottom: 40px;
}

footer .contact .sns-area span {
    display: inline-block;
    padding-bottom: 10px;

    color: #2b3953;
    font-weight: 600;
}

footer .contact .sns-icon {
    display: flex;
}

footer .contact .sns-area img {
    width: auto;
    height: 25px;
}

/* -------------------------------- Copyright 영역 -------------------------------- */

footer .copyright {
    width: 100%;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
    padding: 20px 0;
    z-index: 8888;

    border-top: 1px solid #ccc;
}

footer .copyright ul {
    text-align: center;
    padding: 0px 50px; 

    list-style-type: none;
}

footer .copyright ul li {
    height: 100%;

    display: inline-block;
    padding: 0px 20px;
}

footer .copyright ul li a {
    color: gray;
    text-decoration: none;
}

footer .copyright .logo a {
    font-size: 18px;
    font-family: 'Shilla_Culture_Bold';
}

footer .copyright .copyright-text {
    border-left: 1px solid gray;
}

footer .copyright .copyright-text a {
    font-size: 14px;
    font-weight: 300;
}