footer {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.footer-img {
    width: 100%; 
    /* [수정] 고정 높이 대신 최소 높이를 설정하거나 높이를 자동(auto)으로 변경 */
    min-height: 400px; 
    height: auto; 
    
    /* [추가] aspect-ratio를 사용하여 이미지 비율 유지 (이미지가 잘리지 않게 함) */
    aspect-ratio: 16 / 11; 

    background-image: url('/img/background/Background06.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; 
    
    position: relative;
    /* [추가] 이미지 아래에 바로 contact가 붙도록 설정 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* contact를 이미지 하단에 배치하고 싶을 때 */
}

.footer-img::before {
    content: "";
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffffff 10%, transparent 100%);
    z-index: 1;
}

/* -------------------------------- 하단 Contact -------------------------------- */

footer .contact {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;

    /* [수정] 위쪽 패딩을 줄여 이미지와 밀착시키거나 필요한 만큼 조정 */
    padding: 30px 20px; 
    
    /* [중요] 배경색이 흰색이면 이미지 끝부분과 색상을 맞춰야 함 */
    background-color: transparent; 
    
    z-index: 2; /* before(z-index: 1)보다 높게 설정 */
}

footer .contact ul {
    width: calc(25%); 
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    padding: 0px 50px;
    list-style-type: none;
}

footer .contact ul li {
    padding: 5px 0px;
}

footer .contact ul li a {
    color: #2b3953;
    text-decoration: none;
}

/* SNS 영역 */

footer .follow, footer .recommand {
    padding-bottom: 40px;
}

footer .contact .sns-area span {
    display: inline-block;
    padding-bottom: 10px;

    color: #2b3953;
    font-weight: 600;
}

footer .contact .sns-icon {
    display: flex;
}

footer .contact .sns-area img {
    width: auto;
    height: 25px;
}

/* -------------------------------- Copyright 영역 -------------------------------- */

footer .copyright {
    width: 100%;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
    padding: 20px 0;
    z-index: 8888;

    border-top: 1px solid #ccc;
}

footer .copyright ul {
    text-align: center;
    padding: 0px 50px; 

    list-style-type: none;
}

footer .copyright ul li {
    height: 100%;

    display: inline-block;
    padding: 0px 20px;
}

footer .copyright ul li a {
    color: gray;
    text-decoration: none;
}

footer .copyright .logo a {
    font-size: 18px;
    font-family: 'Shilla_Culture_Bold';
}

footer .copyright .copyright-text {
    border-left: 1px solid gray;
}

footer .copyright .copyright-text a {
    font-size: 14px;
    font-weight: 300;
}